*.ignore*
*~
*.log
*.mp4
*.blend1
*.mkv
*.pdf
*.flac
*.xcf
*.webm
*.wav
*.aup*
**/ai-art/**/art-as-integrated/*
**/ai-art/**/*.mp3
**/ai-art/images/birth of venus.png
**/ai-art/images/The_Garden_of_earthly_delights.jpg
**/ai-art/**/*Google_Art_Project*
**/open-borders/audio/proc.mp3
